<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MissingX -Jims Rohini</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
   </head>
   
   <link rel="stylesheet" href="style.css"> 
   <body onload="loading()">
    <div id="loading"></div>

    <div class="container">
        <button class="cdt-btn cdt-btn-primary load-tuts">Load Tutorials</button>
</div>

    <script>
  var preloader = document.getElementById('loading'); 
  function loading() {
    preloader.style.display ='none';
  }
</script>
</body>
    </html>
    